body {
  margin: 0;
    font-family: "游明朝体", YuMincho, "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100%;
    background:repeating-linear-gradient(
-45deg,
#EAD9FF,
#ccc 1px,
#fff 0,
#fff 29px
);
}



.main img {
  width: 100%;
}

.title {
   text-align: center;
   margin: 30px 0 30px 0;
   
}



/* ヘッダー */
.header-inner {
    text-align: center;
}


.logo {
  margin: 15px 0 10px 0;
}

.logo img {
  width: 5%;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: #D0B0FF;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.insta {
    width: 80px;
    height: 80px;
    
}


/* メインビジュアル */

.main {
 padding: 0;
 margin: 0;
 max-width: 100%;  
 text-align: center; 

}

/* body */

   
h2 {
    text-align: center;
    color: blue;
}

h3 {
    text-align: center;
    color: blue;
}

.index p {
    text-align: center;
}

/* オーナー挨拶 */

.oner-profile {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    padding: 0 100px;
    box-sizing: border-box;
}

.oner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    box-sizing: border-box;
}

.oner-coment {
    text-align: center;
}

/* ニュース */
.news-inner {
    text-align: center;
    list-style: none;
}

.news-inner ul {
    list-style: none;

}



/* メニュー */
.menu-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.item img {
    width: 100%;
    height: 70%;
}

.item {
    width: 25%;
    text-align: center;
}

/* カンパニー*/

.company-item1 {
  margin-left: 4%;
  box-sizing: border-box;
}

.company-item2 {
  height: 40%;
  text-align: right;
  margin-right: 4%;
  box-sizing: border-box;
}


/* プロセス */
.process1 {
    display: flex;
    
}


.process-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    }

.num1,
.num2{
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    padding: 10px;
}   








/* メニュー */

h1 {
    color: dimgrey;
    text-align: center;
}

img.menu-top {
    text-align: center;
    width: 100%;
}

.menu-session1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20%;
  background-color: #EAD9FF;
  text-align: center;
}

.menu-session1-num{
    box-sizing: border-box;
    width: 50%;
    padding: 15px;
    
}

.menu-session1-num1{
    padding: 3px;
}

.menu-session1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 300px;
}

.menu-session1-num2{
   display: flex;
   justify-content: center;
}




/* voiceページ */
.voice-menu {
    background-color: #EAD9FF	;
    margin: 0 500px;

}

.voice-menu1 {
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.voice-menu li {
  list-style: none;
}

.Form {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
  @media screen and (max-width: 480px) {
    .Form {
      margin-top: 40px;
    }
  }
  .Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 480px) {
    .Form-Item {
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 16px;
      padding-bottom: 16px;
      flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  .Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label.isMsg {
      margin-top: 0;
    }
  }
  .Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #D0B0FF;
    color: #fff;
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label-Required {
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 32px;
      font-size: 10px;
    }
  }
  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  
  .Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #D0B0FF;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  @media screen and (max-width: 480px) {
    .Form-Btn {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }

    .Form-Item-Textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
      }
  }




  /* COMPANYページ */

.company-inner {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.company-num2 {
  margin: 100px;
}

.company-inner2 {
  display: flex;
  justify-content: center;
}



  .company-inner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 80px;

}

.map {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}







/* フッター */
footer {
  background-color: #D0B0FF;
  color: #fff;
}

footer h2 {
  padding: 30px 0 0 0 ;
  color: #fff;
}

.copyright {
  color: #fff;
  text-align: center;
}
